<% include layout.ejs %>
<body>
<form method="post" action="/addrating/">
    <label for="soda">Soda:</label>
    <select id="soda" name="soda">
        <% sodalist.forEach(soda => { %>
        <option value="<%= soda.name %>"><%= soda.name %></option>
        <% }) %>
    </select>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
    <label for="rating">Rating:</label>
    <select id="rating" name="rating">
        <% for (i = 0; i < 6; i++) { %>
        <option value=<%= i %>><%= i %></option>
        <% } %>
    </select>
    <input type="submit" name="more" value="Add More">
    <input type="submit" name="done" value="Done">
</form>
</body>