extends layout

block content
  h1= title
  p Hello, World! We Are #{title}
  p #{title}

    h2.
        User List
    ul
        each user, i in userlist
            li
                a(href="mailto:#{user.email}")= user.username