<% include layout.ejs %>
<body>
<h1><%= title %></h1>
<a href="/addsoda">Add a soda</a>
<a href="/addrating">Add a rating</a>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Rating</th>
    </tr>
    </thead>
    <tbody>
    <% sodalist.forEach(soda => { %>
    <tr>
        <td><%= soda.name %></td>
        <td><%= soda.description %></td>
        <td><% var i = soda.ratings.reduce((acc, next) => acc + parseInt(next.rating), 0) / soda.ratings.length%><%= i %></td>
    </tr>
    <% }) %>
    </tbody>
</table>
</body>
