<% include layout.ejs %>
<body>
<h1><%= title %></h1>
<a href="/addsoda">Add a soda</a>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Rating</th>
    </tr>
    </thead>
    <tbody>
    <% sodalist.forEach(soda => { %>
    <tr>
        <td><%= soda.name %></td>
        <td><%= soda.description %></td>
        <td>1</td>
    </tr>
    <% }) %>
    </tbody>
</table>
</body>
