<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<main>
    <form method="post" action="/addrating/">
        <div class="form-group">
            <label for="soda">Soda:</label>
            <select class="form-control" id="soda" name="soda">
                <% sodalist.forEach(soda => { %>
                <option value="<%= soda.name %>"><%= soda.name %></option>
                <% }) %>
            </select>
        </div>
        <div class="form-group">
            <label for="username">Username:</label>
            <input class="form-control" type="text" name="username" id="username">
        </div>
        <div class="form-group">
            <label for="rating">Rating:</label>
            <select class="form-control" id="rating" name="rating">
                <% for (i = 0; i < 6; i++) { %>
                <option value=<%= i %>><%= i %></option>
                <% } %>
            </select>
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" name="more" value="Add More">
            <input class="btn btn-primary" type="submit" name="done" value="Done">
        </div>
    </form>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
