<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<main>
    <form method="post" action="/addsoda/">
        <div class="form-group">
            <label for="sodaname">Name:</label>
            <input class="form-control" type="text" name="sodaname" id="sodaname">
        </div>
        <div class="form-group">
            <label for="sodadesc">Description:</label>
            <input class="form-control" type="text" name="sodadesc" id="sodadesc">
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" name="more" value="Add More">
            <input class="btn btn-primary" type="submit" name="done" value="Done">
        </div>
    </form>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
